ws/ws-api/src/main/resources/schema/extending/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/extends"
           xmlns="http://example.com/extends"

>

    <xs:complexType name="BazowyTyp">
        <xs:sequence>
            <xs:element name="a" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="b" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="c" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>